/* margem  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonte  */
@font-face {
    font-family: "Recursive";
    src: url(./fonts/Recursive-VariableFont_CASL\,CRSV\,MONO\,slnt\,wght.ttf);
}

/* Paleta de cores */
:root {
    --branco: #FFFFFF;
    --preto: #000000;
    --verde-pixelV: #00C621;
    --roxo-pixelV: #4700CF;
    --fundo-site: #F3F2F2;
    --contato: #E5E5E5;
}

/* grid  */
.container-grid {
    width: 80vw;
    max-width: 1400px;
    margin: 0 auto;
}

body{
    overflow-x: hidden;
}

/* link, tamanho, posiçao e repetiçao do fundo  */
.banner {
    background-image: url(./img/Banner.png);
    height: 120vh;
    background-repeat: no-repeat;
    background-position: 0 -10px;


    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* cabeçalho  */
header {
    height: 165px;
}

header .container-grid {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    width: 234px;
}

.menu {
    max-width: 700px;
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.menu a {
    font-size: 20px;
    color: var(--branco);
    font-family: "Recursive", sans-linear;

    text-decoration: underline transparent;
    text-decoration-thickness: 2px;

    transition: text-decoration 500ms ease;
}

.menu a:hover {
    text-decoration-color: var(--verde-pixelV);
}

.conteudo-banner {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.conteudo-banner img {
    max-width: 380px;
    width: 50%;
}

.conteudo-banner p {
    font-size: 26px;
    font-family: "Recursive", sans-linear;
    color: var(--branco);
    width: 350px;
    margin-bottom: 100px;
}

.conteudo-banner ul {
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Recursive", sans-linear-bold;
    color: var(--verde-pixelV);
    list-style-type: none;
    padding: 0;
}
